@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}
body {
  color: #0071BC;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  font-size: 18px;
}
h1 {
  background: #0071BC;
  color: #fff;
  padding: 20px;
  line-height: 1.5em;
  font-size: 26px;
}
.page_content {
  padding: 0 30px;
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
}
.messaging {
  padding: 20px 30px;
}
.messaging .error {
  color: #f00;
}
.questions {
  display: none;
}
.questions.show {
  display: block;
}
.question {
  margin: 20px 0;
}
.question .choice {
  margin: 5px 0;
}
.question .choice input {
  margin-right: 10px;
}
.submit {
  width: 150px;
  padding: 10px;
  background: #0071BC;
  color: #fff;
  border: none;
  outline: 0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 40px auto;
  display: block;
  cursor: pointer;
}
.doctors {
  text-align: center;
}
.doctor {
  background: #0071BC;
  color: #fff;
  padding: 20px;
  width: 200px;
  margin: 10px auto;
  cursor: pointer;
}
