@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}
body {
  width: 320px;
  margin: 20px auto;
  color: #0071BC;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  font-size: 14px;
}
.messaging .error {
  color: #f00;
}
.question {
  margin: 20px 0;
}
.question .choice {
  margin: 5px 0;
}
.question .choice input {
  margin-right: 10px;
}
.submit {
  width: 150px;
  padding: 10px;
  background: #0071BC;
  color: #fff;
  border: none;
  outline: 0;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
.doctors {
  text-align: center;
}
.doctor {
  background: #0071BC;
  color: #fff;
  padding: 20px;
  width: 200px;
  margin: 10px auto;
}
